@font-face {
  font-family: 'CeraLogo';
  src: url("fonts/CeraPro-Bold-Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-y: overlay;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ceralogo {
  font-family: "CeraLogo" !important;
  font-size: clamp(2rem, 6vw, 6.5rem);
}

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    padding-top: 10px;
}

.navbar {
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(6px);
    border-radius: 0 0 20px 20px;
    margin-inline: 10px 25px; 
}
.navbar-brand {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.nav-link {
    font-size: 1.05rem;
    margin-left: 12px;
    transition: 0.3s;
}

.nav-link:hover {
    color: rgba(189, 178, 25, 1) !important;
}

@media (max-width: 987px) {
  .narvbar{
    margin-inline: 10px 5px !important;    
  }
}

.hero-content {
    opacity: 0;
    transform: scale(0.85);
    animation: textZoomIn 1.2s ease-out forwards;
    animation-delay: 3s;  /* Comienza cuando termina la animación del fondo */
}

@keyframes textZoomIn {
    0% {
        opacity: 0;
        transform: scale(0.85);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image:
        linear-gradient(
            to bottom,
            rgba(189, 178, 25, 0.4), 
            rgba(0, 0, 0, 0.45)        
        ),
        url('https://www.vanniglo.co.tz/sites/default/files/inline/images/hosting.jpg');

    background-size: cover;
    background-position: center;

    transform: scale(1.25);
    animation: zoomOut 2.5s ease-out forwards;
    animation-delay: 0.5s;
    z-index: -2;
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 1); 
    animation: fadeLight 2.5s ease-out forwards;
    z-index: -1;  
    animation-delay: 0.5s;
}

@keyframes zoomOut {
    0% {
        transform: scale(1.25);
        filter: blur(4px);
    }
    100% {
        transform: scale(1);
        filter: blur(0);
    }
}

@keyframes fadeLight {
    0% {
        opacity: 1;  
    }
    100% {
        opacity: 0.25; 
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.2); 
        filter: blur(4px);     
    }
    100% {
        transform: scale(1);  
        filter: blur(0);
    }
}


:root {
  --cursor-color: white;
}

.typing {
  border-right: 1px solid var(--cursor-color);
  font-size: clamp(13px, 2.5vw, 28px);
  animation:
    blinking 1s steps(1, end) infinite,
    typing 4s steps(60, end);
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0; 
}

@keyframes blinking {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--cursor-color);
  }
}

@keyframes typing {
  0% {
    width: 0;
    opacity: 1;   /* se hace visible al empezar */
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@media (max-width: 768px) {
    .footer-row {
        align-items: flex-start;
    }
}

.hr-custom {
    display: none;
}

@media (max-width: 768px) {
    .hr-custom {
        display: block;
        width: 80%;
        margin: 15px auto;
    }
}

.footer-title {
    margin-bottom: 20px;
    font-size: clamp(18px, 1.5vw, 26px); 
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.bg-custom-footer {
    background-color: rgb(33, 34, 33) !important;
}

.footer-row {
    display: flex;
    align-items: stretch !important; 
}

.border-end-custom {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.border-end-custom::after {
    content: "";
    position: absolute;
    top: 5%;          
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: #ffffff50;
    z-index: 5;
}

@media (max-width: 768px) {
    .border-end-custom::after {
        display: none;
    }

    .footer-row {
        align-items: flex-start;
    }
}

/* Tamaño de texto en footer */
.footer-text {
    font-size: small;
}

.footer-text, footer p, footer a {
    font-size: clamp(15px, 1vw, 20px);
}

/* Manejo de iconos */
.footer-icons {
    display: inline-flex;
    align-items: center;
    margin-bottom: -5px;
}

.cell-numb {
    margin-top: -10px;
    margin-bottom: 20px;
}
